<header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-white rounded">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto  ">
                    <li class="nav-item mx-auto">
                        <a href="#catalog" class="nav-link">Каталог</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#calculator" class="nav-link">Калькулятор ипотеки</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#consultation" class="nav-link">Консультация</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#contacts" class="nav-link">Контакты</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#about" class="nav-link">О нас</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#services" class="nav-link">Наши услуги</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#advantages" class="nav-link">Преимущества</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
